@media screen and (min-width: 480px) and (max-width: 1200px){

}


@media only screen and (max-width: 768px) {
    header .logo{
        float: none;
        width: 150px;
    }
    header form{
        float: none;
        min-width: 100%;
    }
    header form input{
        float: none;
        min-width: 100%;
    }
    header form button{
        float: none;
        min-width: 100%;
    }
    @media only screen and (max-width: 767px) {
        .logo{
            max-width: 76px;
            overflow: hidden;
        }
        .logo img{
            width: 352px;
        }
        .logo img{
            width: 100%;
        }

        .logo{
            display: inline-block;
            max-width: 352px;
        }
    }
}

